<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectMySQL>
    <add key ="m_SQL" value ="QMYSQL"/>
    <add key ="m_HostName" value ="192.168.3.62"/>
    <add key ="m_Port" value ="3306"/>
    <add key ="m_UserName" value ="root"/>
    <add key ="m_PassWord" value ="dev"/>
    <add key ="m_DataBase" value ="planet"/>
  </connectMySQL>
</configuration>
